{% extends 'layout.html' %}
{% set active_page = 'account' %}
{% block content %}
<div class="card p-2">
    <div class="row g-0">
        <div class="col-md-4 align-self-center text-center">
            <img class="img-fluid rounded-circle" src="{{ image_file }}">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h2 class="card-title">{{ current_user.username }}</h2>
                <p class="text-muted">{{ current_user.email }}</p>
            </div>
        </div>
    </div>
    <form method="post" action="">
        {{ form.hidden_tag() }}
        <div class="card-body">
            <fieldset>
                <legend class="border-bottom mb-4 card-title">Account info</legend>
                <div class="mb-3">
                    {{ form.username.label(class="form-label") }}
                    {% if form.username.errors %}
                    {{ form.username(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.username.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.username(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="mb-3">
                    {{ form.email.label(class="form-label") }}
                    {% if form.email.errors %}
                    {{ form.email(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.email(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div>
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </div>
    </form>
</div>
{% endblock content %}